<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hubstaff activity report</title>
    <meta name="description" content="Hubstaff activity report">
    <meta name="author" content="Bogusz">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">
</head>

<body>
    <main>
        <h1>Hubstaff activity report</h1>

        {% block content %}

        {% endblock %}
    </main>
</body>
</html>
